body {
    font-family: 'Blinker', sans-serif;
    background-color: white;
}


.uv-good {
    background-color: #4a7017;
}

.uv-medium {
    background-color: #fdd835;
}

.uv-high {
    background-color: var(--warning);
}
.uv-very-high {
    background-color: var(--danger);
}

.uv-ex-high {
    background-color: #d43683;
}

.uv-good, .uv-medium, .uv-high, .uv-very-high.uv-ex-high {
    color: black;
    transition: none;
}
header {
    background-color: rgb(33, 33, 105);
    color: white;
}
.current-weather {
    border: 1px solid gray;
    min-height:35vh ;
    padding: 10px 5px;
    font-size: 1.5em;
    background-color: cornflowerblue;
}

.city {
    font-weight: 900;
}

.temp, .wind, .humidity {
    margin-bottom: 1rem;
}
.custom-card {
    min-width: 13rem;
    color: white;
    background-color: rgba(4, 4, 26, 0.829);
    padding: 15px;
    font-weight:700;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 10px;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}